.align{
	&_left{
		text-align: left!important;
	}
	&_right{
		text-align: right!important;
	}
	&_center{
		text-align: center!important;
	}
}

.pr0{
	padding-right: 0!important;
}
.mt45{
	margin-top: 45px;
}
.btn{
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	border: none;
	@include opensans;
	font-size: 12px;
	color: #fff;
  padding: 13px 15px;

	&:hover,&:focus{
		color: #fff;
	}

	&_blue,
	&_blue:active{
		@include blue;
	}

	&_green,
	&_green:active{
		@include green;
	}


	&_dwnl{
		padding: 15px 15px 15px 45px;
		font-size: 14px!important;
		position: relative;
		&:before{
			content: "";
			display: inline-block;
			position: absolute;
			background: url('../files/images/system/ico_download.png') center center no-repeat;
			width: 17px;
			height: 20px;
			left: 15px;
		}
	}
	&_big{
		font-size: 14px!important;
		padding: 15px;
	}

}

body{
font-size: 17px;
}

h1,
h2{
	font-size: 26px;
	color: #2c393f;
	margin-bottom: 15px;
}
h3{
	font-size: 26px;
	color: #2c393f;
	margin-bottom: 15px;
}
.bigh{
	margin-top: 25px;
	p{
		line-height: 24px;
	}
	h2{
		font-size: 30px;
		color: #2c393f;
		margin-bottom: 25px;
	}
}
p{
	font-size: 17px;
	line-height: 29px;
	margin-bottom: 15px;
	color: #7a7a7a;
}

ul{
	li{
		list-style-image: url('../files/images/system/li.png');
		font-size: 17px;
		color: #7a7a7a;
		line-height: 29px;
		margin-bottom: 8px;
	}
}

.b-green{
	color: #008740;
	p{
		color: #008740;
	}
}

input,
textarea{
	width: 100%;
	margin-bottom: 25px;
	border: 1px solid #d2eade;
	font-size: 17px;
	@include ptsansnarrow;
	color: #7a7a7a;
	padding-left: 12px;
	padding-right: 15px;
	padding-top: 9px;
	padding-bottom: 8px;
	max-width: 100%;
	background: #fcfefd;
}