header{
	background: #e9f5ef url('../files/images/system/shape_dote.png') top left repeat-x;
	padding-top: 35px;

	&:after{
		content: "";
		display: block;
		background: #fff url('../files/images/system/shadow.png')bottom center no-repeat;
		width: 100%;
		height: 37px;
	}
}
.h-logo{
	padding-bottom: 20px;
}
.h-phone{
	color: $green;
	font-size: 26px;
	font-weight: bold;
	@include ptsans;
	line-height: 24px;
	    position: relative;
    left: 15px;

	&:before{
		content: "";
		display: inline-block;
		position: relative;
		background: url('../files/images/system/ico_phone.png') left top no-repeat;
		width: 36px;
		height: 36px;
		    float: left;
    margin-left: -41px;
    margin-top: -5px;
	}

	span{
		display: block;
		@include ptsansnarrow;
		font-size: 16px;
		font-weight: normal;
		margin-top: 0px;
	}
}

.h-menu{
	padding: 0;
	display: block;
	// display: table;
	width: 100%;
	margin: 0;

	li{
		display: inline-block;
		float: left;
		line-height: 55px;
		margin-bottom: 0px;

	}
	a{
		@include ptsans;
		display: block;
		font-size: 17px;
		color: #fff;
		padding-left: 18px;
		padding-right: 18px;
		line-height: 55px;
		text-decoration: none;
		@include anim(0.9s);
		&:hover{
			@include blue;
		}
	}

	&_active{
		@include blue;
	}
}

.color{
	&_green{
		@include green;
		border-bottom: 4px solid #fff;
	}
}

footer{
	background: #e9f5ef;
}

.f-menu{
	padding: 0;
	display: block;
	// display: table;
	width: 100%;
	margin: 0;
	text-align: center;
	border-bottom: 1px solid #cce7d9;

	li{
		display: inline-block;
		// float: left;
		line-height: 55px;
		margin-bottom: 0px;

	}
	a{
		display: block;
		font-size: 18px;
		color: #008740;
		padding-left: 20px;
		padding-right: 20px;
		line-height: 77px;
		text-decoration: none;
		@include anim(0.9s);

		&:hover{
			color: #000;
		}


	}

	&_active{
		@include blue;
	}
}

.copyright{
	font-size: 14px;
	@include ptsans;
	p{
		line-height: 60px;
		margin-bottom: 0;
		font-size: 14px;
		color: #7a7a7a;
	}
	a{
		font-size: 14px;
		color: #7a7a7a;
	}

}