/*----------  Для анимации  ----------*/
@mixin anim($time){
 -webkit-transition: all $time ease;
    -moz-transition: all $time ease;
     -ms-transition: all $time ease;
         transition: all $time ease;
}
/*----------  Для Разных разрешений  ----------*/
@mixin inSize($maxsize) {
	@media (max-width: $maxsize){
		@content;
	}
}

@mixin ptsans {
	font-family: 'PT Sans';
}
@mixin ptsansnarrow {
	font-family: 'PT Sans Narrow';
}
@mixin opensans {
	font-family: 'Open Sans';
	font-weight: 700;
}

@mixin blue{
	background: #366775;
	background: -moz-linear-gradient(top,  #366775 0%, #2a535e 100%);
	background: -webkit-linear-gradient(top,  #366775 0%,#2a535e 100%);
	background: linear-gradient(to bottom,  #366775 0%,#2a535e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#366775', endColorstr='#2a535e',GradientType=0 );
}

@mixin green{
	background: #00a54f;
	background: -moz-linear-gradient(top,  #00a54f 0%, #008941 100%);
	background: -webkit-linear-gradient(top,  #00a54f 0%,#008941 100%);
	background: linear-gradient(to bottom,  #00a54f 0%,#008941 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a54f', endColorstr='#008941',GradientType=0 );
}

$green:#008740;

.container{
	max-width: 970px;
	min-width: 970px;
}
// базовые стили
@import 'basic';
// шапка и футре
@import 'header';

// остальные стили

.b-dwnl{
	border: 1px solid #cce7d9;
	border-left: 4px solid #009b42;
	padding-top: 25px;
	padding-bottom: 24px;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 20px;
	background: #fcfefd;
	&__text{
		float: left;
		max-width: 660px;
		h2{
			margin:0;
			padding: 0;
			font-size: 21px;
			color: #2c393f;
			font-weight: normal;
			line-height: 21px;
			    margin-bottom: 3px;
    padding-top: 3px;
		}
		p{
			margin:0;
			color: #7a7a7a;
			font-size: 17px;
		}
	}
	&_button{
		float: left;
	}
}

#main_slider{
	margin-bottom: 8px;
}
#content{
	background: #f0f8f4;
	background: -moz-linear-gradient(top,  #f0f8f4 0%, #ffffff 40%);
	background: -webkit-linear-gradient(top,  #f0f8f4 0%,#ffffff 40%);
	background: linear-gradient(to bottom,  #f0f8f4 0%,#ffffff 40%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f8f4', endColorstr='#ffffff',GradientType=0 );

	padding-top: 30px;
	padding-bottom: 65px;
}

#map{
	height: 465px;
	width: 100%;
	margin-bottom: 30px;
}


.carousel-caption{
	width: 375px;
	left: 66px;
	top: 0px;
	text-align: left;
	h2{
		font-size: 35px;
		font-weight: bold;
		@include ptsans;
		color: #fff;
		text-transform: uppercase;
		span{
			text-transform: none!important;
		}
		    text-shadow: 0 1px 4px rgba(0,0,0,0.7);
	}
	p{
		font-size: 17px;
		color: #fff;
		line-height: 36px;
		margin-bottom: 0px;
		font-weight: bold;
		@include ptsans;
		    text-shadow: none;
	}
}


.aside_right{

	padding-bottom: 0;

	&:before {
		content:"";
		border-left: 1px solid #cce7d9;
		position:absolute;
		left:-15px;
		height:100%;
	}

	p:last-child{

		margin-bottom: 0;

	}

}